<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="noodle-show">
  <div class="noodle-box">
    <h3 class="name">
      <%= @noodle.store_name %>
    </h3>
    <h1 class="name">
      <%= "<< #{@noodle.address.prefecture.name} >>" %>
    </h1>
    <div class="noodle-img-content">
      <%= image_tag @noodle.image, class:"noodle-box-img" %>
    <h3 class="detail-noodles">
      <%= link_to @noodle.user.nickname, "/users/#{@noodle.user.id}" %>
    </h3>

    </div>
    <div class="noodle-price-box">
      <span class="noodle-price">
        <%= "¥#{@noodle.price}" %>
      </span>
      <span class="noodle-postage">
        <%= @noodle.star.name %>
      </span>
    </div>
    <div class="noodle-explain-box">
      <span><%= @noodle.description %></span>
    </div>

    <% if current_user.id == @noodle.user_id %>
      <%= link_to "ラーメンの編集", edit_noodle_path, method: :get, class: "noodle-red-btn" %>
      <%= link_to "店舗住所の編集", edit_noodle_address_path(@noodle.id), method: :get, class: "noodle-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", noodle_path(@noodle.id), method: :delete, class:"noodle-destroy" %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-noodle">店名</th>
          <td class="detail-value"><%= @noodle.store_name %></td>
        </tr>
        <tr>
          <th class="detail-noodle">Menu</th>
          <td class="detail-value"><%= @noodle.menu %></td>
        </tr>
        <tr>
          <th class="detail-noodle">ジャンル</th>
          <td class="detail-value"><%= @noodle.genre %></td>
        </tr>
        <tr>
          <th class="detail-noodle">価格</th>
          <td class="detail-value">¥ <%= @noodle.price %></td>
        </tr>
        <tr>
          <th class="detail-noodle">オススメ度</th>
          <td class="detail-value"><%= @noodle.star.name %></td>
        </tr>
        <tr>
          <th class="detail-noodle">食べた日</th>
          <td class="detail-value"><%= @noodle.eat_date %></td>
        </tr>
      </tbody>
    </table>

    <table class="detail-table">
      <tbody>
        <tr>
        <th class="detail-noodle">住所</th>
          <td class="detail-value">
            <span>〒<%= @noodle.address.post_code %></span>
            <span>　　<%= @noodle.address.prefecture.name %></span>
            <%= @noodle.address.city %>
            <%= @noodle.address.home_number %>
            <%= @noodle.address.building_name %>
          </td>
        </tr>
        <tr>
        <th class="detail-noodle">電話番号</th>
          <td class="detail-value">
            <%= @noodle.address.phone_number %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star2.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <%# if user_signed_in?%>
    <%#= form_with(model: @noodle, local: true) do |f| %>
      <div class="field">
      <%#= f.text_area :text, :size=>"60x5"%>
      </div>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
        <%#= f.submit "コメントする", class: "comment-btn" %>
        <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"35",height:"40"%>
    <%# end %>
    <%# end %>
  </div>

  <ul class="comments_lists">
    <p class="comment-index">コメント一覧</p>
    <li class="comments_list">
      <%# @noodle.comments.each do |comment| %>
          <p>
          <%#= link_to comment.text + "(#{comment.user.nickname})", "/users/#{comment.user.id}", class: :comment_user %>
        <%# if current_user == comment.user %>
            <%#= link_to '削除', noodle_comment_path(@noodle, comment), method: :delete, class:"btn_destroy" , data: { confirm: "削除しますか？" } %>
          </p>
        <%# end %>
      <%# end %> 
    </li>
  </ul>

  <div class="links">
    <a href="#" class="change-noodle-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-noodle-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-noodle"><%= "#{@noodle.genre}" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>